h1 {
    font-size: 5em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

    // @media screen { 
    //     color: red;
    // }

    // @media (min-width: 800px) {
    //     text-decoration: underline;
    // }

    // @media (max-width: 800px) {
    //     border: 2px solid red;
    // }

    // @media (orientation: landscape) {
    //     background-color: red;
    //     color: white;
    // }

    // @media (orientation: portrait) {
    //     background-color: green;
    //     color: white;
    // }

    @media (max-width: 870px) {
        font-size: 4.5em;
    }

    @media (max-width: 770px) {
        font-size: 4em;
    }

    @media (max-width: 670px) {
        font-size: 3em;
    }

    @media (max-width: 520px) {
        font-size: 2em;
    }

    @media (max-width: 360px) {
        font-size: 1.5em;
    }
}

h2 {
    @media screen { 
        color: red;
    }
}

// 1000 lines of code

// @media screen {
//     h1 {
//         color: red;
//     }
// }

// 1000 lines of code

@media print {
    h1 {
        color: green;
    }
}